{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_department_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h1>Departamente (<span class="js-row-number">{{ pagination.getTotalItemCount }}</span>)</h1>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped js-activity-table">
                    <tr>
                        <td scope="col">#</td>
                        <th scope="col">Nume departament</th>
                        <th scope="col">Adauga informatii in functie de:</th>
                    </tr>
                    {%  set i = 0 %}
                    {%  for department in pagination %}
                        {%  set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ department.type }}</td>
                            <td>{{ department.addDataFor }}</td>
                            <td><a href="{{ path('admin_department_edit', {'id': department.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                            <td>
                                <a href="#"
                                   class="btn btn-link btn-xs pull-right js-remove-department"
                                   data-url="{{ path('admin_department_delete', {
                                       id: department.id,
                                   }) }}"
                                >
                                    <span class="fa fa-trash" style="color:palevioletred; font-size:24px"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(pagination) }}
                {{ include('admin/departments/_formInLine.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/ActivityLog.js') }}"></script>

    <script>
        jQuery(document).ready(function() {
            var $table = $('.js-activity-table');
            var activityLog = new ActivityLog($table);
        });
    </script>
{% endblock %}