{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_department_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h1>Departamente ({{ pagination.getTotalItemCount }})</h1>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <tr>
                        <td scope="col">#</td>
                        <th scope="col">Nume departament</th>
                    </tr>
                    {%  set i = 0 %}
                    {%  for department in pagination %}
                        {%  set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ department.type }}</td>
                            <td><a href="{{ path('admin_department_edit', {'id': department.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}