{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12  js-activity-table">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_department_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h1>Departamente (<span class="js-row-number">{{ pagination.getTotalItemCount }}</span>)</h1>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td scope="col">#</td>
                            <th scope="col">Nume departament</th>
                            <th scope="col">Adauga informatii in functie de:</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%  set i = 0 %}
                    {%  for department in pagination %}
                        {%  set i = i + 1 %}
                        {{ include('admin/departments/_departmentRow.html.twig') }}
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(pagination) }}

                <div class="js-new-activity-log-form-wrapper">
                    {{ include('admin/departments/_formInLine.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.js"></script>

    <script src="{{ asset('js/ActivityLog.js') }}"></script>

    <script>
        jQuery(document).ready(function() {
            var $wrapper = $('.js-activity-table');
            var activityLog = new ActivityLog($wrapper);
        });
    </script>
{% endblock %}