{{ form_start(activityForm) }}
    {{ form_row(activityForm.intern, {'label' : 'Intern'}) }}
    {{ form_row(activityForm.log, {
        'label' : 'Lucrare',
    })
    }}
    {{ form_row(activityForm.duration, {'label' : 'Durata (ore)'}) }}
    {{ form_row(activityForm.details, {'label' : 'Observatii'}) }}

    {% if user_is_owner %}
        {{ form_row(activityForm.owner ,{'label': 'Proprietari'}) }}
    {% endif %}

    {% if not user_is_owner %}
        {{ form_row(activityForm.property, {'label' : 'Proprietati'}) }}
    {% endif %}

    {{ form_row(activityForm.lunchBreak, {'label' : 'Pauza de masa'}) }}
    {{ form_row(activityForm.publishedAt, {'label' : 'Data'}) }}
    <button type = "submit" class="btn btn-action" formnovalidate>{{ buttonText }}</button>

{{ form_end(activityForm) }}