{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('new_activity') }}" class="btn btn-success pull-right">Adauga multiplu<span class="fa fa-plus-circle"></span></a>

                    <a href="{{ path('new_activity') }}" class="btn btn-primary pull-right">Adauga <span class="fa fa-plus-circle"></span></a>

                </div>
                <h1>Activitatile dumneavoastra ({{ pagination.getTotalItemCount }})</h1>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>

                    <table class="table table-striped">
                    <tr>
                        <td scope="col">#</td>
                        <th scope="col">Data</th>
                        <th scope="col">Nume</th>

                        {% if not user_is_owner %}
                            <th scope="col">Proprietati</th>
                        {% endif %}

                        {% if user_is_owner %}
                            <th scope="col">Proprietari</th>
                        {% endif %}

                        <th scope="col">Intern</th>
                        <th scope="col">Lucrare</th>
                        <th scope="col">Durata (ore)</th>
                        <th scope="col">Observatii</th>
                        <th scope="col">Pauza de masa</th>
                    </tr>
                    {%  set i = 0 %}
                    {%  for activity in pagination %}
                        {%  set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ activity.publishedAt|date('Y-m-d') }}</td>
                            <td>{{ activity }}</td>

                            {% if not user_is_owner %}
                            <td>
                                {% for property in activity.property %}
                                     <span class="js-property-item">
                                        {{ property }}
                                        <a href="#"
                                           class="btn btn-link btn-xs pull-right js-remove-property-from-log"
                                           data-url="{{ path('property_activity_remove', {
                                               activityLogId: activity.id,
                                               propertyId: property.id
                                           }) }}"
                                        >
                                            <span class="fa fa-close"></span>
                                        </a>
                                        <hr>
                                    </span>
                                {% endfor %}
                            </td>
                            {% endif %}

                            {% if user_is_owner %}
                            <td>
                                {% for owner in activity.owner %}
                                    <span class="js-owner-item">
                                        {{ owner }}
                                        <a href="#"
                                           class="btn btn-link btn-xs pull-right js-remove-owner-from-log"
                                           data-url="{{ path('owner_activity_remove', {
                                               activityLogId: activity.id,
                                               ownerId: owner.id
                                           }) }}"
                                        >
                                            <span class="fa fa-close"></span>
                                        </a>
                                    <hr>
                                    </span>
                                {% endfor %}
                            </td>
                            {% endif %}
                            <td><input type="checkbox" {% if activity.intern == true %} checked {% endif %}/></td>
                            <td>{{ activity.log }}</td>
                            <td>{{ activity.duration }}</td>
                            <td>{{ activity.details }}</td>
                            <td>{{ activity.lunchBreak }}</td>
                            <td><a href="{{ path('edit_activity', {'id': activity.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="12" class="text-center">
                                <b>No logs found</b>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $('.js-remove-owner-from-log').on('click', function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-owner-item');
                $(this).find('.fa-close')
                    .removeClass('fa-close')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE'
                }).done(function(){
                    $el.fadeOut();
                });
            });

            $('.js-remove-property-from-log').on('click', function (e) {
                e.preventDefault();

                var $el = $(this).closest('.js-property-item');
                $(this).find('.fa-close')
                    .removeClass('fa-close')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE'
                }).done(function(){
                    $el.fadeOut();
                });
            });
        });
    </script>
{% endblock %}