{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('new_activity') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h1>Activitatile dumneavoastra ({{ pagination.getTotalItemCount }})</h1>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>

                    <table class="table table-striped">
                    <tr>
                        <td scope="col">#</td>
                        <th scope="col">Data</th>
                        <th scope="col">Nume</th>
                        <th scope="col">Beneficiari</th>
                        <th scope="col">Locatii</th>
                        <th scope="col">Intern</th>
                        <th scope="col">Lucrare</th>
                        <th scope="col">Durata (ore)</th>
                        <th scope="col">Observatii</th>
                        <th scope="col">Pauza de masa</th>
                    </tr>
                    {%  set i = 0 %}
                    {%  for activity in pagination %}
                        {%  set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ activity.publishedAt|date('Y-m-d') }}</td>
                            <td>{{ activity }}</td>
                            <td>{{ activity.property|join(', ') }}</td>
                            <td>{{ activity.owner|join(', ') }}</td>
                            <td><input type="checkbox" {% if activity.intern == true %} checked {% endif %}/></td>
                            <td>{{ activity.log }}</td>
                            <td>{{ activity.duration }}</td>
                            <td>{{ activity.details }}</td>
                            <td>{{ activity.lunchBreak }}</td>
                            <td><a href="{{ path('edit_activity', {'id': activity.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="12" class="text-center">
                                <b>No logs found</b>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}