{{ form_start(form) }}
    {{ form_row(form.intern, {'label' : 'Intern'}) }}
    {{ form_row(form.log, {'label' : 'Lucrare'}) }}
    {{ form_row(form.duration, {'label' : 'Durata'}) }}
    {{ form_row(form.details, {'label' : 'Observatii'}) }}
    {{ form_row(form.owner ,{'label': 'Beneficiari'}) }}
    {{ form_row(form.property, {
        'label' : 'Proprietati',
        'attr'  : {
            class: 'foo',
        },
        placeholder: 'Selecteaza unul sau mai multi beneficiari'
    }) }}
    {{ form_row(form.lunchBreak, {'label' : 'Pauza de masa'}) }}
    {{ form_row(form.publishedAt, {'label' : 'Data'}) }}

<button type = "submit" class="btn btn-action" formnovalidate>{{ buttonText }}</button>

{{ form_end(form) }}