{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_staff_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h1>Lista personal ({{ pagination.getTotalItemCount }})</h1>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="q"
                               class="form-control"
                               placeholder="Search..."
                               value="{{ app.request.query.get('q') }}"
                        >
                        <div class="input-group-btn">
                            <button tabindex="-1" class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <tr>
                        <td scope="col">#</td>
                        <th scope="col">Nume</th>
                        <th scope="col">Email</th>
                        <th scope="col">Departament</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Edit</th>

                    </tr>
                    {%  set i = 0 %}
                    {%  for employee in pagination %}
                        {%  set i = i + 1 %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ employee.name}}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.staffType }}</td>
                            <td>{{ employee.roles|join(', ') }}
                            <td><a href="{{ path('admin_staff_edit', {'id': employee.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                            <td><a href="{{ path('admin_staff_password_change', {'id': employee.id}) }}" class="btn btn-xs btn-danger"><span class="fa fa-lock"></span></a></td>
                            <td>
                                <a href="#"
                                   class="btn btn-link btn-xs pull-right js-remove-staff"
                                   data-url="{{ path('admin_staff_delete', {
                                       id: employee.id,
                                   }) }}"
                                >
                                    <span class="fa fa-trash" style="color:palevioletred; font-size:24px"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.js"></script>
    <script>
        jQuery(document).ready(function() {

            $('.js-remove-staff').on('click', function (e) {
                e.preventDefault();

                var $el = $(this).closest('tr');
                $(this).find('.fa-trash')
                    .removeClass('fa-trash')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE'
                }).done(function () {
                    $el.fadeOut();
                });
            });
        });
    </script>
{% endblock %}